@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-charcoal: #121212;

  --color-leather-dark: #1c1410;
  --color-leather-brown: #3b2317;
  --color-leather-mahogany: #4a2511;
  --color-leather-coffee: #2c1d11;

  --color-accent-gold: #d4af37;
  --color-accent-copper: #b87333;
  --color-accent-bronze: #cd7f32;
  --color-accent-cream: #fdf5e6;
}